.wp-list-table {
  .column-image {
    width: 75px;
    img {
      max-width: 75px;
    }
  }

  .column-order {
    width: 30%;
    input {
      width: 4em;
      &.success {
        border-color: #46af34;
      }
      &.error {
        border-color: #c62f2a;
      }
    }
  }

  //fix small screen
  @media screen and (max-width: 782px) {
    .column-image {
      display: none;
    }
  }
}

//remove description from post excerpt meta box
#postexcerpt.postbox {
  .inside {
    p {
      display: none;
    }
  }
}

.wp-admin {
  .ui-datepicker {
    background: white;

    td {
      a {
        display: block;
        text-align: right;
      }
    }
  }

  .ui-datepicker-next,
  .ui-datepicker-prev {
    text-transform: uppercase;
    font-size: 0.8em;
    color: #eee;

    span {
      background: none;
    }
  }

  .ui-datepicker-header {
    padding: 0.5em;
    display: flex;

    .ui-datepicker-title {
      flex: 1 1 5em;
      text-align: center;
      margin: 0 0.5em;
    }

    .ui-datepicker-prev,
    .ui-datepicker-next {
      flex: 0 0 3em;
    }

    .ui-datepicker-next {
      order: 3;
      text-align: right;
    }
  }
}
