@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 110%;
    line-height: 1.5;
}

.content{
    max-width: none;
    padding-top: 0;
}
.wrapper {
    padding-top: 0;
}
header.banner.knockout.bg-white, footer.content-info.knockout, article.section.tile-cta.cta-call-to-action.bg-gray-dark.knockout.post-55.call_to_action.type-call_to_action.status-publish.has-post-thumbnail.hentry {
    display: none;
}

.side-toggle-menu {
    background-color: #00264b;
    color: #fff;
    position: fixed;
    z-index: 10;
    height: 100vh;
    width: 64px;
}
span#toggle_menu {
    display: block;
    text-align: center;
    padding: 20px 0;
    cursor: pointer;
}
span#toggle_menu i{
    font-size: 24px;
}
span.very-small-text {
    font-size: 8px;
    font-weight: 400;
}
.side-menu {
    width: 320px;
    position: fixed;
    z-index: 12;
    left: -320px;
    opacity: 0;
    background-color: #00264b;
    color: #fff;
    transition: .5s;
    height: 100vh;
    transform-style: preserve-3d;
}
.side-menu.opened{
    left: 0;
    opacity: 1;
}
span#close_button {
    display: block;
    text-align: right;
    padding: 10px 10px 0;
    cursor: pointer;
    font-size: 24px;
}
img.side-logo {
    max-width: 240px;
    display: block;
    margin: 15px auto;
}
.first-menu ul li a:hover {
    background-color: #97C63A;
}
.first-menu ul li a {
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    padding: 20px 30px;
    display: block;
    transition: .5s;
}
.first-menu ul {
    list-style: none;
    padding-left: 0;
    margin-left: 0;
}

.sub-menu{
    position: absolute;
    left: 200px;
    transition: .5s;
    opacity: 0;
    z-index: 10;
    top: 50%;
    transform: translate3d(0, -50%, -10px);
    visibility: hidden;
}
.first-menu ul li:hover .sub-menu{
    left: 320px;
    opacity: 1;
    visibility: visible;
}
ul.sub-menu li a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 20px 0 0;
    height: 120px;
    width: 160px;
    transition: .3s;
}
ul.sub-menu li:first-child a{
    background-color: #3AC4F0;
}
ul.sub-menu li:nth-child(2) a{
    background-color: #227E9B;
}
ul.sub-menu li:nth-child(3) a{
    background-color: #13576C;
}
ul.sub-menu li:nth-child(4) a{
    background-color: #3AC64A;
}
ul.sub-menu li:nth-child(5) a{
    background-color: #AFE641;
}
ul.sub-menu li a:hover{
    background-color: #0258ab;
}
ul.sub-menu li a i{
    display: block;
    font-size: 50px;
    margin-bottom: 15px;
}
.second-menu ul {
    list-style: none;
    padding-left: 15px;
    margin-top: 40px;
    margin-left: 0;
}
.second-menu ul li {
    width: 100%;
}
.second-menu ul li a {
    color: #AFE641;
    font-size: 14px;
    text-decoration: none;
}
.second-menu ul li a:hover{
    color: #fff;
}

.first-menu ul li{
    margin-bottom: 0;
    width: 100%;
}

.slider.js-height h3 {
    font-size: 42px;
    line-height: 1.2;
    color: #00264B;
    text-transform: uppercase;
    font-weight: 700;
}

.slider.js-height p {
    font-size: 20px;
    text-transform: uppercase;
    color: #333;
    font-weight: 700;
    letter-spacing: 2px;
}

a.slider-link {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #97c63a;
    padding: 10px;
    width: 160px;
    display: block;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
}

a.slider-link:hover{
    background-color: #00264B;
}

.slider.js-height  {
    width: 100%;
    height: 40em;
    background: #fff;
    position: relative;
    overflow: hidden;
    margin-top: 0;
}
.slider.js-height  .slide {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    margin: 0;
    /*background-attachemnt:scroll*/
    background-attachment: fixed;
}
.slider.js-height  .slide:nth-child(1) {
    top: 0;
}
.slider.js-height .slide .content {
    color: #fff;
    font-family: sans-serif;
    position: absolute;
    top: 40%;
    left: 100px;
    transition: all 1s ease;
}

nav.slider-nav a {
    display: block;
    margin: 0 auto;
    width: 5em;
    height: 5em;
    line-height: 5em;
    text-align: center;
    color: #fff;
    background: rgba(0, 0, 0, 0.7);
    font-size: 1em;
    transition: all .3s ease;
    position: fixed;
    top: 1em;
    right: 0;
    z-index: 9;
    transition: all .3s ease;
}

nav.slider-nav a:hover {
    background: rgba(0, 0, 0, 0.5);
}

/* Members Page */
.rest-body{
    width: calc(100% - 64px);
    margin-left: 64px;
}
.header-section{
    background-image: url('images/header_bg.jpg');
    background-size: cover;
    position: relative;
    padding: 15px;
}
.header-section:before{
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    background-color: rgba(255, 255, 255, 0.5);
}
.header-section .grid-x{
    position: relative;
    z-index: 11;
}
img.header-logo {
    max-width: 200px;
    padding: 24px;
}
.below-header span{
    height: 10px;
    width: 20%;
    display: inline-block;
}
.below-header span:nth-child(1){
    background-color: #3AC4F0;
}
.below-header span:nth-child(2){
    background-color: #227E9B;
}
.below-header span:nth-child(3){
    background-color: #13576C;
}
.below-header span:nth-child(4){
    background-color: #3AC64A;
}
.below-header span:nth-child(5){
    background-color: #AFE641;
}
.breadcrumb i {
    font-size: 16px;
}
.breadcrumb {
    color: #3AC4F0;
    font-size: 12px;
    padding: 15px;
    margin-bottom: 35px;
}
.breadcrumb a{
    color: #3AC4F0;
}
.heading-style{
    background-image: url('images/heading_icon.png');
    background-size: 28px;
    background-repeat: no-repeat;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 28px;
    padding-left: 32px;
    color: #00264b;
    margin-left: -32px;
    margin-bottom: 24px;
}
.heading-style span{
    border-bottom: 3px solid #AFE641;
    padding-bottom: 3px;
}
.member-para{
    color: #666;
    font-size: 13px;
    margin-bottom: 25px;
}
.green-btn{
    color: #3AC64A;
    border: 1px solid;
    padding: 7px 10px;
    font-size: 13px;
    font-weight: 500;
    transition: .3s;
}
.green-btn:hover{
    color: #fff;
    background-color: #011B4C;
}
.icon-box {
    text-align: center;
    text-transform: uppercase;
    color: #011B4C;
    font-weight: 700;
    font-size: 13px;
    margin: 30px 0 10px;
}
.icon-box img{
    width: 100px;
}
.blank-space-35{
    height: 35px;
}
.points-list{
    color: #011B4C;
    border-right: 3px solid #AFE641;
    padding: 50px 0 25px;
}
.points-list p {
    margin-bottom: 10px;
}
.points-list i{
    color: #333;
}
.points-list a {
    background-color: #97c63a;
    color: #fff;
    border-radius: 20px;
    display: block;
    text-align: center;
    width: 160px;
    text-transform: uppercase;
    margin: 10px 0 0 16px;
    padding: 6px;
    font-size: 15px;
}
.members-services{
    list-style: none;
    padding-left: 0;
    text-align: center;
}
.members-services li{
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    color: #011B4C;
    font-weight: 700;
    font-size: 13px;
    margin: 30px 15px 10px;
}
.members-services li img{
    width: 100px;
}

.flip-card {
    background-color: transparent;
    height: 340px;
    perspective: 1000px;
    position: relative;
    margin: 10px;
}
  
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
  
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}
.flip-card:hover i.fa{
    opacity: 0;
}
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-front {
    color: black;
}
.flip-card-front img, .flip-card-back .btn-img img{
    height: 90px;
    width: 90px;
    margin-top: 30px;
    border-radius: 50%;
    background-color: #fff;
    object-fit: contain;
}
.flip-card-back {
    color: white;
    transform: rotateY(180deg);
    padding: 20px;
    text-align: left;
}
.flip-card.bg-blue .flip-card-back, .flip-card.bg-blue .flip-card-front{
    background-color: #3ac4f0;
}
.flip-card.bg-green .flip-card-back, .flip-card.bg-green .flip-card-front{
    background-color: #3AC64A;
}

.flip-card-front h2 {
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    margin: 10px 0 18px;
}
.flip-card-front p {
    color: #fff;
    font-size: 14px;
    padding: 0px 12px;
    margin-bottom: 18px;
}
.card_btn a {
    border: 1px solid #fff;
    padding: 6px 0 5px;
    color: #fff;
    background: transparent;
    text-transform: uppercase;
    font-size: 13px;
    width: 120px;
    display: inline-block;
    text-shadow: 0px 0px 6px #2a2929;
}
.card_btn a.join-btn{
    background: #00264b;
}
.flip-card i.fa.fa-heart, .flip-card i.fa.fa-star {
    position: absolute;
    z-index: 9;
    font-size: 26px;
    top: -12px;
    left: -12px;
    color: #464646;
    transition: .5s;
}
.flip-card-back h3 {
    font-size: 14px;
    text-align: left;
    font-weight: 600;
    margin-bottom: 40px;
}
.flip-card-back p {
    text-align: left;
    color: #14596f;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 0;
}
.flip-card-back span {
    font-size: 14px;
}
.btn-img {
    margin-top: 30px;
    display: flex;
    align-items: center;
    width: 100%;
}
a.view-btn {
    padding: 5px 12px;
    color: #fff;
    font-size: 16px;
    text-transform: lowercase;
    border: 1px solid #fff;
    display: flex;
    width: 100px;
    justify-content: center;
    align-items: flex-end;
}
p.btn-back-img {
    width: 50%;
}
p.btn-back-btn {
    display: flex;
    width: 50%;
    justify-content: flex-end;
    margin-top: 65px;
}
.get-update-bg {
    background: rgba(19, 87, 108, 1);
    padding: 25px 30px;
    margin: 10px;
}
.get-update-bg .medium-3 {
    display: flex;
    align-items: center;
    justify-content: center;
}
.get-update-bg .medium-3 img {
    opacity: 0.2;
    margin-right: 15px;
}
.update-bg {
    margin-left: 60px;
}
.update-bg h2 {
    color: #fff;
    font-size: 20px;
}
.update-bg span {
    color: #fff;
    font-size: 14px;
    opacity: 0.8;
}
.update-bg p {
    color: #fff;
    font-size: 12px;
    margin: 30px 0 20px;
}
input#search-site {
    width: 70%;
    border-radius: 5px 0px 0 5px;
}
form.site-search {
    display: flex;
}
input.btn-submit {
    background: #fff;
    color: #000;
    border-left: 1px solid #13576c !important;
    box-shadow: none;
    border: none;
    border-radius: 0 5px 5px 0;
}

@media(max-width:1200px){
    .heading-style{
        margin-left: 0;
    }
}