.loading {

  .overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #fff;
    z-index: -10;
    zoom: 1;
    opacity: 0;
    transition: opacity .25s ease-in-out;
  }

  .loader {
    z-index: -10;
    opacity: 0;
    position: fixed;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
    padding: 1em;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 0 .2em #E2E2E2;
    color: #999;
    transition: opacity .35s ease-in-out, top .45s ease-in-out;
  }

  .show-loader & {

    .overlay {
      z-index: 22000;
      opacity: .8;
    }

    .loader {
      opacity: 1;
      z-index: 22222;
      top: 50%;
    }

  }

}
